---
platform: windows

#image_resource: {type: docker-image, source: {repository: cloudfoundry/garden-windows-ci}}

inputs:
- name: ci
- name: web-config-wip

run:
  path: powershell
  args:
  - "-ExecutionPolicy"
  - "Bypass"
  - "-File"
  -  ci/tasks/test-web-config-buildpack/run.ps1
  - -mode test -targetFramework 4.6.1
  dir: web-config-wip
